body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;

}
.cradel{
    height: 50rem;
    width: 50rem;
    background-color: transparent;
    border-top: 1rem solid rgb(32, 32, 103);
    border-radius: 0.5rem;
    margin-top: 50px;
}
div{
    width: .5rem;
    height: 20rem;
    background-color:rgb(12, 200, 46) ;
    display: flex;
    justify-content:center;
    gap: 4.5rem;
    position: relative;
}
.cradel div::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(228, 15, 15);
}
.cradel div:first-child{
    animation: left-swing 2s linear infinite 1s;
    transform-origin: top left;
}
@keyframes left-swing{
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: 40deg;
    }
    50%{
        rotate: 0deg;
    }
    100%{
        rotate: 0deg;
    }
}
.cradel div:last-child{
    animation: right-swing 2s linear infinite;
    transform-origin: top left;
}
@keyframes right-swing{
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: -40deg;
    }
    50%{
        rotate: 0deg;
    }
    100%{
        rotate: 0deg;
    }
}