body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: fff;
    
}
.contaner{
    width: 30rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: colorr 10s ease infinite;
}

.sun{
    width: 15rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(94, 25, 25);
    position: relative;
    overflow: hidden;

    &::after{
        content: "";
        position: absolute;
        width: inherit;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color:#000;
        animation: movee 10s ease-in-out infinite;
    }
    
}
@keyframes movee {
    0%{
        translate: 100%;
        scale: 1;
    }
    50%{
        translate: 0%;
        scale: 0.9;
        background-color: black;
    }
    100%{
        translate: -100%;
        scale: 1;
    }
}
@keyframes colorr {
    0%{
        background-color:chocolate ;
    }
    25%{
        background-color: #634027;
    }
    50%{
        background-color: black;
    }
    75%{
        background-color:#634027 ;
    }
    100%{
        background-color: chocolate;
    }
}